<h3>Faça seu Login</h3>
<!DOCTYPE html>
<html>
<head>
<style>

body {
  background-color: #dae6a5;

}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Times New Roman';
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

</style>
</head>
<body>

<style>
    body {
      background-image: url('https://image.winudf.com/v2/image/Y29tLnN1YWRhaDA2MTEuYW5pbWVnaXJsa2F3YWlpYXBwX3NjcmVlbl8yXzE1MjM4OTA0OTRfMDI0/screen-2.jpg?h=355&fakeurl=1&type=.jpg');
    }
</style>

<form action="/cadastro" method="POST">
    <text-align: center>
    <label for="fname">Seu Nome:</label>
    <input type="text" id="fname" name="fname"><br><br>
    </text-align:>

    <text-align: center>
    <label for="lname">Senha:</label>
    <input type="text" id="lname" name="lname"><br><br>
    </text-align:>
    <input type="submit" value="Login">

</form>
</body>
</html>
